
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Car Wash Management System</title>
    <style>
        *{
            margin:0;
            padding:0;
        }
        .hero {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../images/loginimage.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
        }
        .form-box{
            width:380px;
            height:480px;
            position:relative;
            margin:6% auto;
            background:#fff;
            padding:5px;
        }
        .button-box{
             
        }
    </style>
</head>
<body>
    <div class="hero">
        <div class="form-box">
            <div class="button-box"> </div>
        </div>
    </div>
</body>
</html>
